extend login-layout

block content
  form(method='post' action='/login').form-login.form-horizontal#login
    legend Login!
    .form-group.center-block
      a(href="#")
        span.facebook.center-block
    p.help-block.text-center or
    .control-group
      label.control-label Email
      .controls
        .input-prepend
          span.add-on
            i.icon-envelope
          input(type='text' placeholder='Email' name='email' class='input-xlarge')
    .control-group
      label.control-label Password
      .controls
        .input-prepend
          span.add-on
            i.icon-lock
          input(type='password' placeholder='Password' name='password').input-xlarge
    .control-group
      label.control-label
      .controls
        button(type='submit').btn.btn-success.pull-right Log in

block js
  script(src='/js/login.js')

block css
  link(rel='stylesheet' href='/css/login.css')
