doctype html
html
  head
    meta(chatset='utf-8')
    title=title
    
    meta(name='author' content='')
    meta(name='description' content='')
    link(rel='stylesheet' href='/css/bootstrap.css')
    block css
  body
    div.container
        block content
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    block js

