body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-login, .form-login {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}	
      
.form-login .form-login-heading, .form-login .checkbox {
    margin-bottom: 10px;
}
     
.form-login {
    height: 297px;
}

.facebook {
    background-image: url("/img/facebook.png");
    width: 32px;
    height: 32px;
}
.form-login {
    height: 377px;
}
     
.form-login input[type="text"],
.form-login input[type="password"],
.form-login input[type="text"],
.form-lofin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}